<h1> Hello World </h1>

@isset($people)
    <table border="1" cellpadding="6" cellspacing="0">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
@foreach($people as $person)
            <tr>
                <td>{{ $person->first_name }}</td>
                <td>{{ $person->middle_name }}</td>
                <td>{{ $person->last_name }}</td>
            </tr>
@endforeach
        </tbody>
    </table>
@else
    <p>No people yet.</p>
@endisset
